.UserLogin
{
    /* border: 2px solid red; */
    height: 100vh;
    background-color: rgb(6, 136, 93);
}
.loginpage1
{
    /* border: 3px solid blue; */
    display: flex;
    height: 70%;
    width: 80%;
    position: relative; 
    top: 100px;
    left: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(97, 91, 91);
}
.loginpage1 .leftside1
{
    /* border: 2px solid gold; */
    width: 50%;
}
.loginpage1 .leftside1 img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
/* .form form input{
    border: 2px solid;
    display: block;
} */
.rightside1
{
    /* border: 2px solid purple; */
    width:50%;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}
.content11
{
    /* border: 1px solid; */
    text-align: center;
}
.form1{
    width: 300px;
    /* border: 2px solid green; */
    position: relative;
    top: 70px;
}
.form1 form{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.form1 form input{
   width: 190px;
   height: 25px;
   margin-top: 5px;
   /* margin:0px 0px 10px 10px; */
}
.side{

    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;  
    height: 60px;

}
.content11 h1{
    color: rgb(6, 136, 93);
}
form button
{
    position: relative;
    top: 15px;
    left: 100px;
   padding: 5px 20px;
   border-radius: 4px;
   border: none;
   box-shadow: 2px 4px 7px rgb(22, 80, 50) inset;
   color: white;
   background-color: rgb(6, 136, 93);;
}